# ================================
# Ignorar archivos comunes en todos los microservicios
# ================================
**/HELP.md
**/target/
**/build/
**/.mvn/wrapper/maven-wrapper.jar

# Permitir targets y builds dentro de src (si existieran por test/ejemplos)
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ================================
# IDEs y herramientas
# ================================
# Eclipse / Spring Tool Suite (STS)
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

# IntelliJ IDEA
**/.idea
**/*.iws
**/*.iml
**/*.ipr

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# Visual Studio Code
**/.vscode/

# ================================
# Archivos compilados / temporales
# ================================
*.class
*.log
*.ctxt
.mtj.tmp/

# Paquetes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Dumps de JVM
hs_err_pid*
replay_pid*

# ================================
# Docker
# ================================
# Evitar que los volúmenes y artefactos generados se suban
**/docker-compose.override.yml
**/docker-compose.override.*.yml
**/.docker/
**/docker-data/
**/*.env
.env
.env.*

# ================================
# Sistema Operativo
# ================================
.DS_Store
Thumbs.db

# ================================
# Ignorar carpeta de base de datos local
# ================================
MN_DATABASE/Data/
